{# templates/mercure_test/mercure_test.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Mercure Test</title>
</head>
<body>
    {{ include("mercure/chat/box.html.twig", { chat: chat, user: user }) }}
</body>
</html>
